<!DOCTYPE html>
{% extends 'apps/index.html' %}
{% block body_block %}
<html>
<head>
	<title>Contact us</title>
</head>
<body style="background-color: mistyrose;">
	<br><br><br><br><br><br><br><br>
	<b><p style="color:red;text-align: center;"><u>CONTACT:</u></p></b>
<b style="text-align: center;"><address>SD Towers SF N-75,<br>
   2A2A2 Trichy Tanjore Main Road,<br>
   Trichy Tanjore Main Road,<br>
  Tiruchirappalli,Tamilnadu-620019<br></address></b><br>
</body>
{%endblock%}
</html>