<!DOCTYPE html>
{% extends 'apps/index.html' %}
{% block body_block %}
{% load static %}

<html>
<head>
	<title>ZUDIO</title>
	<h1 style="color: #3a41fc;text-align: center;"></h1>
	   <b>WEAR YOURSELF WITH STYLE</b>
	<h2 style="color: pink;text-align: center">WALK AND WEAR</h2>
	<h3 style="text-align: center;color:black ">..........To wear and enjoy yourself...............</h3>
</head>
	<style>
	p1{
		color: red;text-align: 30px;text-align: center;
		font: family: 'Times New Roman', Times, serif;font-size:xx-large;
	}
</style>
<body style="background-color: palegoldenrod;">
	<link rel="stylesheet" href="{% static 'style/style.css' %}">
	<center>
	<img src="{% static '/image/footwear.jpg' %}">
    
    </center>

	<p1>Men shoes<hr>Womens shoes<hr>Formal shoes<hr>Sandals and slippers<hr>Sneakers<hr>Sports shoes<hr></p1>
</body>
{%endblock%}
</html>