
{% extends 'apps/index.html' %}
{% block body_block %}
{% load static %}
<html>

<head>
	<title>ZUDIO</title>
	<h1 style="color: #3a41fc;text-align: center;"></h1>
	   <b>WEAR YOURSELF WITH STYLE....</b>

	<h2 style="color: lavenderblush;text-align: center"> WEAR AND ENJOY THE COLLECTIONS</h2>

	<h3 style="text-align: center;color:black ">..........To wear and enjoy yourself...............</h3>
</head>
	<style>
	p1{
		color: red;text-align: 30px;text-align: center;
		font: family: 'Times New Roman', Times, serif;font-size:xx-large;
	}
</style>
<body style="background-color: coral;">
	
	<center>
	<img src="{% static '/image/mens jean.jpg' %}">
    <img src="{% static '/image/mens lw.jpg' %}">
    
     </center>
	<p1>T-shirts<hr>Jeans<hr>Formal shirts<hr>Modern wears<hr>Loungewear<hr>Perfumes<hr></p1>
</body>

{%endblock%}
</html>