<!DOCTYPE html>
{% extends 'apps/index.html' %}
{% block body_block %}
{% load static %}

<html>
<head>
	<title>ZUDIO</title>        
	
	<style>
	p1{
		color: red;text-align: 30px;text-align: center;
		font: family: 'Times New Roman', Times, serif;font-size:xx-large;
	}
</style>
<body style="background-color: plum;">
	<h1 style="color: #3a41fc;text-align: center;"></h1>
	           <b>WHO WE ARE
	   A FASHION BRAND FROM - THE HOUSE OF TATA TREND LTD </b>
	<h2 style="color: pink;text-align: center"> 
	            <b>WHAT WE DO?
      OFFER IRRESISTIBLE FASHION AT IRRESISTIBLE 
                      PRICES
             CONSTANT NEWNESS IN STORE</b>         
	</h2>
	<h3 style="text-align: center;color:black ">
		        <b>WHERE WE ARE?
		     CURRENTLY IN 42 CITIES IN INDIA,COMING TO 
		           YOUR CITY VERY SOON</b>

	</h3>
	
</head>
</body>
{%endblock%}
</html>